body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:850px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:586px;
  width:52px;
  height:126px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:126px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:116px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:106px;
  width:203px;
  height:40px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:501px;
  top:112px;
  width:193px;
  height:29px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u19_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:184px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:178px;
  width:203px;
  height:35px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u20_input:disabled {
  color:grayText;
}
#u21_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:252px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:243px;
  width:203px;
  height:40px;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:501px;
  top:249px;
  width:193px;
  height:29px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
.u26_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u26 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:0px;
  width:72px;
  height:40px;
}
.u26_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u27_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
.u27 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
  font-size:18px;
}
.u27_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:128px;
  word-wrap:break-word;
}
.u28_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
.u28 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:0px;
  width:132px;
  height:40px;
  font-size:18px;
}
.u28_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:128px;
  word-wrap:break-word;
}
.u29_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
.u29 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:0px;
  width:132px;
  height:40px;
  font-size:18px;
}
.u29_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:128px;
  word-wrap:break-word;
}
.u30_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
.u30 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:0px;
  width:132px;
  height:40px;
  font-size:18px;
}
.u30_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:128px;
  word-wrap:break-word;
}
.u31 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:12px;
  width:19px;
  height:16px;
}
.u31_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
.u31_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:409px;
  width:600px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u32_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:305px;
  width:150px;
  height:40px;
  font-size:18px;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u33_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:305px;
  width:150px;
  height:40px;
  font-size:18px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u34_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:778px;
  top:369px;
  width:72px;
  height:40px;
  font-size:18px;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:68px;
  word-wrap:break-word;
}
#u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:369px;
  width:132px;
  height:40px;
  font-size:18px;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:128px;
  word-wrap:break-word;
}
#u36_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:369px;
  width:132px;
  height:40px;
  font-size:18px;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:128px;
  word-wrap:break-word;
}
#u37_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:514px;
  top:369px;
  width:132px;
  height:40px;
  font-size:18px;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:128px;
  word-wrap:break-word;
}
#u38_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:369px;
  width:132px;
  height:40px;
  font-size:18px;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:128px;
  word-wrap:break-word;
}
#u39_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:626px;
  width:150px;
  height:40px;
  font-size:18px;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u40_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:626px;
  width:150px;
  height:40px;
  font-size:18px;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:689px;
  width:90px;
  height:18px;
  font-size:14px;
  color:#009DDA;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u41_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:689px;
  width:120px;
  height:18px;
  font-size:14px;
  color:#009DDA;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u42_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u43_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:305px;
  width:150px;
  height:40px;
  font-size:18px;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u44_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:25px;
  width:289px;
  height:55px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u45_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:632px;
  width:25px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u46_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:632px;
  width:25px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:850px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u14.a {
  border-width:0px;
  position:absolute;
  left:552px;
  top:586px;
  width:52px;
  height:126px;
}
#u14_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:126px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u15.a {
}
#u15_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u15.a {
}
#u15_text.a {
}
#u17.a {
}
#u17_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17.a {
}
#u18.a {
  border-width:0px;
  position:absolute;
  left:501px;
  top:112px;
  width:193px;
  height:29px;
}
#u18_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u19.a {
}
#u19_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19.a {
}
#u19_text.a {
}
#u20.a {
  border-width:0px;
  position:absolute;
  left:497px;
  top:178px;
  width:203px;
  height:35px;
}
#u20_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u21.a {
}
#u21_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u21.a {
}
#u21_text.a {
}
#u23.a {
}
#u23_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23.a {
}
#u24.a {
  border-width:0px;
  position:absolute;
  left:501px;
  top:249px;
  width:193px;
  height:29px;
}
#u24_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u25.a {
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
.u26.a {
}
.u26_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u26.a {
}
.u27.a {
}
.u27_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
.u27.a {
}
.u27_text.a {
}
.u28.a {
}
.u28_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
.u28.a {
}
.u28_text.a {
}
.u29.a {
}
.u29_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
.u29.a {
}
.u29_text.a {
}
.u30.a {
}
.u30_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
.u30.a {
}
.u30_text.a {
}
.u31.a {
}
.u31_input.a {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
.u31_text.a {
}
#u32.a {
}
#u32_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u32.a {
}
#u32_text.a {
}
#u33.a {
}
#u33_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u33.a {
}
#u33_text.a {
}
#u34.a {
}
#u34_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u34.a {
}
#u34_text.a {
}
#u35.a {
}
#u35_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u35.a {
}
#u35_text.a {
}
#u36.a {
}
#u36_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u36.a {
}
#u36_text.a {
}
#u37.a {
}
#u37_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u37.a {
}
#u37_text.a {
}
#u38.a {
}
#u38_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u38.a {
}
#u38_text.a {
}
#u39.a {
}
#u39_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u39.a {
}
#u39_text.a {
}
#u40.a {
}
#u40_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u40.a {
}
#u40_text.a {
}
#u41.a {
}
#u41_input.a {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u41_text.a {
}
#u42.a {
}
#u42_input.a {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u42_text.a {
}
#u43.a {
}
#u43_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u43.a {
}
#u43_text.a {
}
#u44.a {
}
#u44_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u44.a {
}
#u44_text.a {
}
#u45.a {
}
#u45_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u45.a {
}
#u45_text.a {
}
#u46.a {
}
#u46_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u46.a {
}
#u46_text.a {
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u14.b {
  border-width:0px;
  position:absolute;
  left:340px;
  top:585px;
  width:51px;
  height:130px;
}
#u14_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:130px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u15.b {
  left:188px;
  top:105px;
}
#u15_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u15.b {
  left:188px;
  top:105px;
}
#u15_text.b {
}
#u17.b {
  left:286px;
  top:98px;
  height:42px;
}
#u17_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17.b {
  left:286px;
  top:98px;
  height:42px;
}
#u18.b {
  border-width:0px;
  position:absolute;
  left:289px;
  top:104px;
  width:194px;
  height:29px;
}
#u18_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u19.b {
  left:188px;
  top:176px;
}
#u19_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19.b {
  left:188px;
  top:176px;
}
#u19_text.b {
}
#u20.b {
  border-width:0px;
  position:absolute;
  left:286px;
  top:170px;
  width:203px;
  height:35px;
}
#u20_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u21.b {
  left:188px;
  top:246px;
}
#u21_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u21.b {
  left:188px;
  top:246px;
}
#u21_text.b {
}
#u23.b {
  left:286px;
  top:237px;
  height:42px;
}
#u23_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23.b {
  left:286px;
  top:237px;
  height:42px;
}
#u24.b {
  border-width:0px;
  position:absolute;
  left:289px;
  top:244px;
  width:194px;
  height:29px;
}
#u24_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u25.b {
  left:37px;
  top:406px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
.u26.b {
}
.u26_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u26.b {
}
.u27.b {
}
.u27_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
.u27.b {
}
.u27_text.b {
}
.u28.b {
}
.u28_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
.u28.b {
}
.u28_text.b {
}
.u29.b {
}
.u29_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
.u29.b {
}
.u29_text.b {
}
.u30.b {
}
.u30_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
.u30.b {
}
.u30_text.b {
}
.u31.b {
}
.u31_input.b {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
.u31_text.b {
}
#u32.b {
  left:37px;
  top:300px;
  width:151px;
  height:42px;
}
#u32_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:42px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u32.b {
  left:37px;
  top:300px;
  width:151px;
  height:42px;
}
#u32_text.b {
  top:10px;
  width:147px;
}
#u33.b {
  left:489px;
  top:300px;
  width:151px;
  height:42px;
}
#u33_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:42px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u33.b {
  left:489px;
  top:300px;
  width:151px;
  height:42px;
}
#u33_text.b {
  top:10px;
  width:147px;
}
#u34.b {
  left:567px;
  top:364px;
  height:42px;
}
#u34_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u34.b {
  left:567px;
  top:364px;
  height:42px;
}
#u34_text.b {
  top:10px;
}
#u35.b {
  left:37px;
  top:364px;
  width:133px;
  height:42px;
}
#u35_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u35.b {
  left:37px;
  top:364px;
  width:133px;
  height:42px;
}
#u35_text.b {
  top:10px;
  width:129px;
}
#u36.b {
  left:170px;
  top:364px;
  width:133px;
  height:42px;
}
#u36_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u36.b {
  left:170px;
  top:364px;
  width:133px;
  height:42px;
}
#u36_text.b {
  top:10px;
  width:129px;
}
#u37.b {
  left:302px;
  top:364px;
  width:133px;
  height:42px;
}
#u37_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u37.b {
  left:302px;
  top:364px;
  width:133px;
  height:42px;
}
#u37_text.b {
  top:10px;
  width:129px;
}
#u38.b {
  left:434px;
  top:364px;
  width:133px;
  height:42px;
}
#u38_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u38.b {
  left:434px;
  top:364px;
  width:133px;
  height:42px;
}
#u38_text.b {
  top:10px;
  width:129px;
}
#u39.b {
  left:37px;
  top:630px;
  width:151px;
  height:42px;
}
#u39_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:42px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u39.b {
  left:37px;
  top:630px;
  width:151px;
  height:42px;
}
#u39_text.b {
  top:10px;
  width:147px;
}
#u40.b {
  left:489px;
  top:630px;
  width:151px;
  height:42px;
}
#u40_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:42px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u40.b {
  left:489px;
  top:630px;
  width:151px;
  height:42px;
}
#u40_text.b {
  top:10px;
  width:147px;
}
#u41.b {
  left:37px;
  top:692px;
}
#u41_input.b {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u41_text.b {
}
#u42.b {
  left:518px;
  top:692px;
}
#u42_input.b {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u42_text.b {
}
#u43.b {
  left:273px;
  top:300px;
  width:151px;
  height:42px;
}
#u43_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:42px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u43.b {
  left:273px;
  top:300px;
  width:151px;
  height:42px;
}
#u43_text.b {
  top:10px;
  width:147px;
}
#u44.b {
  left:224px;
  top:14px;
}
#u44_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u44.b {
  left:224px;
  top:14px;
}
#u44_text.b {
}
#u45.b {
  left:361px;
  top:636px;
}
#u45_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u45.b {
  left:361px;
  top:636px;
}
#u45_text.b {
}
#u46.b {
  left:312px;
  top:636px;
}
#u46_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u46.b {
  left:312px;
  top:636px;
}
#u46_text.b {
}
